@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>For adding the staff <a href="/Employees/Add" style="text-decoration:none">Add Staff</a> </p>
   <p>For editing the staff <a href="/Employees/Edit" style="text-decoration:none">Edit Staff</a> </p>
   <p>For viewing the staff <a href="/Employees/List" style="text-decoration:none">View list Staff</a> </p>
</div>
